html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial;

}

.container {
    display: flex;
    flex-direction: column;
    /* faz funcionar em vertical o flex*/
    min-height: 100vh;
    /* altura igual o tamanho visivel da tela*/

}

.main {
    flex: 1;
    margin-inline: 100px;
    /* aumenta o conteudo para preencher espaco*/
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    justify-content: center;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 8vw;
}

button, a {
    transition: all 0.5s ease-in-out;
    background-color: #ccc;
    padding: 1vw;
    color: #333;
    text-decoration: none;
    margin-bottom: 2vw;
    border-radius: 10px;
    
}

th, td { 
    padding: 10px;
}
.acoes {
    transition: all 0.5s ease-in-out;
    border-radius: 1px;
    background-color: #ccc;
    padding: 5px;
    color: #333;
    text-decoration: none;
    
    
    
}

.acoes:hover {
    text-decoration: underline;
}

button:hover {
    transform: scaleX(1.05);
}