body {
    font-family: Arial;
    background-color: #333;
    height: 100px;
    color: white;
    flex: 1;
}

header {
    flex: 1;
    height: 100px;
    background-color: aliceblue;
    color:#333;
    margin-top: -21px; 
    margin-inline: -100px;
    padding-top: 20px;
    
    text-align: center;
}

footer {
    flex: 1;
    height: 100px;
    background-color: #555;
    margin-inline: -100px;
}

.container {
    flex: 1;
    height: 100%;
    margin-inline: 5vw;
}